@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 82px;
    padding: 25px;
}

nav ul {
    height: 68px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    /* color: rgb(22, 90, 236); */
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    height: 23px;
    width: 493px;
    border-radius: 6px;
    margin: 0 110px;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    font-family: 'Ubuntu', sans-serif;
    height: 12vh;
    background: var(--main-bg-color);
    color: white;

}